body {
  height: 97vh;
  background-color: #ffcdf1;
  background-image: linear-gradient(
    225deg,
    #ffcdf1 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
  position: relative;
  margin: 0%;
}
.container {
  width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: auto;
}

.header {
  text-align: center;
  color: #fff;
  font-size: 30px;
}

.task-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: auto;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.list-container {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  justify-content: space-between;
  font-size: 20px;
}

.input-field {
  width: 100%;
  border: none;
  outline: none;
  height: 40px;
  border-bottom: 1px solid #ccc;
  transition: border-bottom 0.3s ease;
}

.input-field:hover {
  border-bottom: 1px solid #000;
}

.btn-container {
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: rgb(163, 78, 255);
  color: #fff;
  :hover {
    cursor: pointer;
  }
}

.submit-btn {
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  border: none;
  background-color: transparent;
  color: #fff;
}

.edit-btn {
  background-color: transparent;
  border: none;
  color: #000;
}

.edit-btn:hover {
  cursor: pointer;
}

.delete-btn:hover {
  cursor: pointer;
}
.completed {
  text-decoration: line-through;
  color: gray;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #000;
  text-align: center;
  color: #fff;
  font-size: 15px;
  height: 130px;
}

.save-btn {
  border: none;
  color: #ffffff;
  padding: 5px 12px;
  border-radius: 5px;
  background-color: rgb(163, 78, 255);
}

.save-btn:hover {
  cursor: pointer;
}





