<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EJS-Templating</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div class="container">
    <div class="header">
      <p style="font-size: 30px; font-weight: bold;">Header</p>
    </div>
    <div class="task-container">
      <% for(var i=0; i< exej.length; i++){ %>
        <div class="list-container">
          <h3>
            <%= exej[i] %>
          </h3>
          <button class="delete-btn">X</button>
        </div>
        <% } %>
          <form action="/" method="post" class="form-container">
            <input class="input-field" type="text" name="task" placeholder="Please enter task" />
            <div class="btn-container">
              <button class="submit-btn" type="submit">+</button>
            </div>
          </form>
    </div>
  </div>
</body>

</html>